NEXT_PUBLIC_API_URL=
GITHUB_TOKEN=
MONGODB_URI=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_TO=
SMTP_FROM=
NODE_ENV=development
NEXT_PUBLIC_GA_ID=
NEWSLETTER_ADMIN_TOKEN=
NEWSLETTER_FROM=

INTRO_CALL_MEET_LINK=
INTRO_CALL_SCHEDULED_MESSAGE=Your intro call has been scheduled successfully! You can join the call using the following link: 