.env
*.env
node_modules/
.DS_Store
.vscode/
npm-debug.log
yarn-error.log
coverage/
logs/
*.log
.idea/
*.sublime-project
*.sublime-workspace
.env.local
.env.development.local
.env.test.local
.env.production.local
.pnp/
.pnp.js